#Database Configuration
MYSQL_DB=YourDatabaseName
MYSQL_USER=YourDatabaseUser
MYSQL_PASSWORD=YourDatabasePassword
MYSQL_HOST=YourDatabaseHost
MYSQL_PORT=YourDatabasePort

#Cloudinary Configuration
CLOUDINARY_NAME=Your_Cloudinary_Name
CLOUDINARY_API_KEY=Your_Cloudinary_API_Key
CLOUDINARY_API_SECRET=Your_Cloudinary_API_Secret

#VNPAY Configuration
VNPAY_TMN_CODE=Your_VNPAY_TMN_Code
VNPAY_SECRET_KEY=Your_VNPAY_Secret_Key
VNPAY_PAY_URL=Your_VNPAY_Pay_URL
VNPAY_RETURN_URL=Your_VNPAY_Return_URL
VNPAY_IPN_URL=Your_VNPAY_IPN_URL

#Spring AI API Key
SPRING_API_KEY=Your_Spring_API_Key
SPRING_API_BASE_URL=Your_Spring_API_Base_URL

#Mail Configuration
MAIL_HOST=Your_SMTP_Host
MAIL_PORT=Your_SMTP_Port
MAIL_USERNAME=Your_Email_Address
MAIL_PASSWORD=Your_Email_App_Password

#VNPT EKYC Configuration
VNPT_EKYC_API_URL=Your_VNPT_EKYC_API_URL
VNPT_EKYC_TOKEN_ID=Your_VNPT_EKYC_Token_ID
VNPT_EKYC_TOKEN_KEY=Your_VNPT_EKYC_Token_Key
VNPT_EKYC_ACCESS_TOKEN=Your_VNPT_EKYC_Access_Token

#Cerebras AI API Key
CEREBRAS_API_KEY=Your_Cerebras_API_Key